# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/AdventOfCode2020/v16/TestStore/0/testlog.manifest
.vs/AdventOfCode2020/v16/TestStore/0/000.testlog
.vs/AdventOfCode2020/v16/ipch/AutoPCH/f959aca4f1aa4064/DAY4.ipch
.vs/AdventOfCode2020/v16/ipch/AutoPCH/e9e1bb829dc2351e/DAY2.ipch
.vs/AdventOfCode2020/v16/ipch/AutoPCH/d5ae8d88bf049b3b/DAY5.ipch
.vs/AdventOfCode2020/v16/ipch/AutoPCH/c38e1e7b284f26b/MAIN.ipch
.vs/AdventOfCode2020/v16/ipch/AutoPCH/c17b1e7bf5a7b1b5/DAY3.ipch
.vs/AdventOfCode2020/v16/ipch/AutoPCH/b161ba72f02200af/DAY1.ipch
.vs/AdventOfCode2020/v16/Browse.VC.opendb
.vs/AdventOfCode2020/v16/Browse.VC.db-wal
.vs/AdventOfCode2020/v16/Browse.VC.db-shm
.vs/AdventOfCode2020/v16/Browse.VC.db
.vs/AdventOfCode2020/v16/.suo
Debug/AdventOfCode2020.Build.CppClean.log
Debug/AdventOfCode2020.exe.recipe
Debug/AdventOfCode2020.ilk
Debug/AdventOfCode2020.log
Debug/AdventOfCode2020.pdb
Debug/AdventOfCode2020.tlog/AdventOfCode2020.lastbuildstate
Debug/AdventOfCode2020.tlog/CL.command.1.tlog
Debug/AdventOfCode2020.tlog/CL.read.1.tlog
Debug/AdventOfCode2020.tlog/CL.write.1.tlog
Debug/AdventOfCode2020.tlog/link.command.1.tlog
Debug/AdventOfCode2020.tlog/link.read.1.tlog
Debug/AdventOfCode2020.tlog/link.write.1.tlog
Debug/AdventOfCode2020.vcxproj.FileListAbsolute.txt
Debug/vc142.pdb
